# Playwright Test Artifacts
/node_modules/
/playwright/test-results/
/playwright/playwright-report/
/playwright/support/auth/
/playwright-report/
/test-results/

# Playwright
node_modules/
/blob-report/
/playwright/.cache/
/playwright/.auth/